.bg-dark{
    background-color: rgb(51, 51, 51) !important;   
}

.about-img{
    background-image: url(images/allef-vinicius-IvQeAVeJULw-unsplash.jpg);
    height: 100vh;
    min-height: 250px;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.black-overlay2{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.609) !important;
}

.about-img h1{
    text-align: center;
    color: white;
    padding-top: 30%;
    font-size: 100px;
    border-bottom: solid 1px brown;
}


.about{
    padding: 100px 0;
    
}

.about h1{
    color: #7c5e40;
    border-bottom: 1px solid brown;
}

.abouts{
    background-color: rgb(218, 214, 214);
}

.save{
    background-image: url(images/alwin-kroon-pszyJeq6DFs-unsplash.jpg);
    height: 100vh;
    min-height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.saving{
    padding: 100px 0;
    color: white;
}

.saving p{
    padding: 10px 100px;
}

.saving a{
    text-transform: uppercase;
    background: #cd9b6a;
    border-radius: 25px;
    padding: 10px 30px;
    display: inline-block; 
    color: #fff;
    font-weight: bold;
    margin-top: 15px;
    font-family: poppins;
    letter-spacing: 1px;
}
.saving a:hover{
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: solid 1px #cd9b6a;
    border-radius: 25px;
    padding: 10px 30px;
    display: inline-block; 
    color: #cd9b6a;
    font-weight: bold;
    margin-top: 15px;
    font-family: poppins;
    letter-spacing: 1px;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about-img h1{
        font-size: 50px;
    }
    .about img{
        width: 100%;
        padding: 0 15px;
    }

    .about h1{
        font-size: 20px;
        padding: 5px 20px;
    }

    .about p{
        text-align: justify;
        font-size: 16px;
        padding: 5px 20px;
    }

    .save h3{
        font-size: 28px;
    }

    .save h1{
        font-size: 30px;
    }

    .save p{
        font-size: 16px;
        padding: 5px 10px;
    }

    .save a {
        font-size: 14px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .about-img h1{
        font-size: 50px;
        
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .about-img h1{
        font-size: 80px;
    }

    .save h3{
        font-size: 32px;
    }

    .save h1{
        font-size: 36px;
    }

    .save p{
        font-size: 20px;
        padding: 5px 10px;
    }

    .save a {
        font-size: 20px;
    }
}